
.indexContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
    position: relative;
    overflow:hidden; 
    align-items: center;

}


.indexContainerItema{
    grid-column: 1/2;
    display: grid;
    justify-items: center;

}
.startimg{
    cursor: pointer; 
    width: 50vh 
}

.indexContainerItemb{

    grid-column: 2;
}

.indexContainerItemb p{
    font-size:5rem;
}