
.indexContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
    position: relative;
    overflow:hidden; 
    align-items: center;

}


.indexContainerItema{
    grid-column: 1/2;

}
.myimg{
    cursor: pointer;
}

.indexContainerItemb{
    position: absolute;
    grid-column-start: 2;
    top: -300px;
}